<div id="map-canvas"></div>

<div class="sidebar">
  <script>
    $(document).ready(function() {
    addIcon("add.svg");
    addIcon("beer.svg");
    addIcon("brewery.png");
    addIcon("camp.jpg");
    addIcon("concert.png");
    addIcon("dgbasket.jpg");
    addIcon("hiking.png");
    addIcon("ice-cream.png");
    addIcon("museum.png");
    addIcon("paintbrush.png");
    addIcon("zoo.png");
    addIcon("fish.png");
    addIcon("boat.png");
    addIcon("movie.png");
    addIcon("skatepark.png");
    addIcon("tourist.png");
    addIcon("dance.png");
    addIcon("theatre.png");
    addIcon("park.png");
    addIcon("golf.png");
    addIcon("coffee.svg");
    });
  </script>
</div>

<div class="menupull closed"></div>
