@import 'foundation_and_overrides';
@import 'columns';
@import 'reset';

.container {
  margin-left: 10%;
  margin-right: 10%;
}

#map-canvas {
  float: left;
  height: 100%;
  width: 100%;
}

//****************************************//
//             MOBILE SETTINGS            //
//****************************************//

@media screen and (max-width: 480px) {

  .container {
    margin: 0;
  }
}
