@import 'foundation_and_overrides';
@import 'foundation-icons';
@import 'columns';
@import 'reset';
@import 'variables';
@import url(https://fonts.googleapis.com/css?family=Lobster|Raleway:400,100);

html, body {
  width: 100%;
  height: 100%;
  position: fixed;
}

h1 {
  font-family: $lobster;
}

a, p {
  font-family: $raleway;
}

div {
  font-family: $raleway;
  font-weight: 100;
}

form, #form {
  color: #DDDDDD;
}

#icons * {
  margin: 10px;
}

#icons {
  overflow: scroll;
  padding-left: 9%;
  padding-right: 9%;
  min-height: 130px;
  -moz-box-shadow:0 5px 8px 0 black;
  -webkit-box-shadow:0 5px 8px 0 black;
  box-shadow:0 5px 8px 0 black;
}

#close:hover {
  opacity: 0.5;
}

.top-bar {
  z-index: 1001;
  -moz-box-shadow:0 0 8px 0 black;
  -webkit-box-shadow:0 0 8px 0 black;
  box-shadow:0 0 8px 0 black;
}

.svg-icons {
  margin: 20%;
}

.svg-icons:hover {
  opacity: 0.5;
}

.sidebar {
  min-width: 54px;
  position: absolute;
  top: 45px;
  background: $bg-white;
  width: 6%;
  border-right: thin solid #888888;
  height: 96%;
  z-index: 1000;
  overflow: scroll;
  -moz-box-shadow:0 0 8px 0 black;
  -webkit-box-shadow:0 0 8px 0 black;
  box-shadow:0 0 8px 0 black;
}

#title {
  margin-left: 10%;
}

.infoExtras {
  background: #1EFFBC;
  color: #666666;
  padding-left: 10%;
  padding-top: 8px;
  padding-bottom: 8px;
}

#extraInfo {
  background: #048A81;
  margin-left: 0;
  margin-right: 0;
  -moz-box-shadow:0 5px 8px 0 black;
  -webkit-box-shadow:0 5px 8px 0 black;
  box-shadow:0 5px 8px 0 black;
}

.container {
  margin-left: 10%;
  margin-right: 10%;
}

#map-canvas {
  height: 96%;
  width: 94%;
  left: 6%;
}

.menupull {
  opacity: 0.9;
  position: absolute;
  background: $bg-grey;
  width: 70%;
  height: 100%;
  z-index: 1000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  top: 45px;
  overflow-y: scroll;
}

.infoBox {
  color: #333333;
}

.menupull.closed {
  right: -70%;
}

.menupull.open {
  right: 0%;
}

#title {
  color: #DDDDDD;
}

#submit, input[type="submit"] {
  border: 0;
  background: #008CBA;
  width: 30%;
  height: 45px;
  color: #FFFFFF;
  min-width: 120px;
  max-width: 200px;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

//****************************************//
//             MOBILE SETTINGS            //
//****************************************//

@media screen and (max-width: 480px) {

  .container {
    margin: 0;
  }

  .menupull {
    width: 100%;
    top: 30%;
    height: 70%;
  }

  .menupull.closed {
    right: -100%;
  }

  #map-canvas {
    width: 100% !important;
  }

  #form {
    overflow: scroll;
  }

}
